@import "tailwindcss";

@layer components {
    .lgn-reg-field {
        @apply w-full px-4 py-2 mb-4 border border-gray-200 rounded-lg focus:outline-none focus:border-blue-500 text-black;
    }
    .error-success {
        @apply text-green-600 mb-4;
    }
    .error-message {
        @apply text-red-600 mb-4;
    }
  }
