@import "tailwindcss";

@layer components {
  .master-cont {
    @apply w-full max-w-md p-8 bg-white rounded-lg shadow-md;
  }
  
  .master-cont-2 {
    @apply  text-black p-0 m-0 bg-blue-500 rounded-lg shadow-md 
     border-4 border-solid border-[black];
  }
  
  .dash-cont {
    @apply w-225 h-200 p-1 bg-blue-500 rounded-lg shadow-md 
    relative left-[450px] top-[10px] border-4 border-solid border-[black];
  }

  .entry-master-cont {
    @apply bg-blue-600 rounded-lg p-1 m-1 border-2 border-solid border-[black]
  }

  .lgn-reg-field {
    @apply w-full px-4 py-2 mb-4 border border-gray-200 rounded-lg 
        focus:outline-none focus:border-blue-500 text-black;
  }

  .error-success {
    @apply text-green-600 mb-4;
  }

  .error-message {
    @apply text-red-600 mb-4;
  }

  .header-style {
    @apply flex justify-center gap-1 text-[20px] bg-white rounded-lg 
         m-1 border-2 border-solid border-[black];
  }

  .footer-style {
    @apply flex justify-center gap-1 text-xl bg-white rounded-lg 
         m-1 border-2 border-solid border-[black] mt-2;
  }

  .dropdown-style {
    @apply bg-blue-700 rounded-lg text-white
         m-2.25 border-2 border-solid border-[black] 
         items-center justify-center;
  }
  
  .title-style {
    @apply flex m-2 justify-center text-4xl m-4 rounded-lg;
  }

  .user-title-style {
    @apply flex justify-center text-[35px] text-black
          bg-white text-3xl mb-4;
  }

  .new-entry {
    @apply bg-black text-white rounded-lg p-2 m-2 border-2 border-solid border-[black]
         cursor-pointer justify-center items-center hover:bg-red-700;
  }

  .btn-style {
    @apply bg-blue-700 text-black rounded-lg p-2 m-2 border-2 border-solid border-[black]
         cursor-pointer justify-center items-center;
  }

  .btn-style {
    background-color: bg-blue-500 !important;
    color: white !important;
  }

  .btn-style:hover {
    background-color: #b91c1c !important; /* tailwind red-700 */
  }

 .x-btn {
    @apply relative bottom-[30px] left-[245px] p-1 pr-2 pl-2 m-0
    bg-transparent text-xl text-black rounded-lg border-2 border-black; 
  }

  .x-btn {
    background-color: white !important;
    color: black !important;
  }

  .x-btn:hover {
    background-color: #b91c1c !important; /* tailwind red-700 */
    cursor: pointer;
  }

  .main-modal {
    @apply bg-transparent shadow-none
  }

  .main-modal-2 {
    @apply bg-transparent shadow-none relative bottom-[150px] right-[50px]
  }

  .modal-body {
    @apply px-1 !pt-0 !pb-0 !mb-0 !mt-0 relative overflow-hidden
  }

  .entry-cont-style {
    @apply flex relative text-black justify-center items-center gap-2 text-xl
         rounded-lg m-0 p-8;
  }

  .user-entry-cont-style {
    @apply bg-white rounded-lg m-4 p-3 border-2 border-black justify-center flex text-2xl;
  }

  .entry-title-style {
    @apply flex m-5 justify-center items-center relative top-[-30px] bg-white text-black
        rounded-lg border-2 border-solid border-[black] p-1;
  }

  .new-entry-title-style {
    @apply flex mt-5 justify-center items-center relative top-[-30px] bg-blue-700 text-white
        rounded-lg border-2 border-solid border-[black] p-1;
  }

  .solo-entry {
    @apply flex border-2 border-solid border-[black] rounded-lg bg-white
  }

  .solo-entry-style {
    @apply bg-white rounded-lg m-4 p-3 border-2 border-black flex text-2xl;
  }

  .input-style {
    @apply flex justify-center items-center border-2 border-solid border-[black]
        border rounded-sm mb-2 placeholder:text-gray-200 placeholder:text-center
        placeholder:items-center;
  }

  .edit-style {
    @apply text-black text-base relative left-[625px] bottom-[24px]
    hover:text-xl cursor-pointer;
  }

  .delete-style {
    @apply relative left-[635px] bottom-[24px] text-base
        text-black hover:text-xl cursor-pointer;
  }
}
 /* .edit-delete {
     @apply text-black text-sm m-2 relative bottom-[16px] left-[250px] cursor-pointer
  } */
.custom-modal [class*="modal"] > div {
  margin: 0 !important;
  padding: 0 !important;
}

/* Force modal content to have no extra space */
div[role="dialog"] > div {
  width: fit-content !important;
  margin: auto !important;
  background: transparent !important;
}
